@charset "UTF-8";

/* pagination 색을 안나디아에 맞는 색조로 바꿈 */
.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #ddd !Important;
    border: solid 1px #ddd !Important;
}

.pagination > .active > a:hover
{
    background-color: #ddd !Important;
    border: solid 1px #ddd;
}


